.container {
  display: grid;
  grid-template-areas: "card-1 card-2 card-3";
}
a {text-decoration: none;
color:black;}
.card-1 {
  display: grid;
  border: 1px solid black;
  width: 25vw;
  grid-template-areas:
  "img-1 info-1"
  "link-1 icon-1" ;
  grid-area: card-1;
}
.c-1 {
  height: 8vw;
  width: 8vw;
}
.img-1 {
  grid-area: img-1;
  padding-right: 1vw;
}
.info-1 {
  grid-area:info-1;
  padding-right: 5vw;
}
.link-1 {
  grid-area: link-1;
  padding-bottom: 1vw;
  padding-left: 1vw;
  text-decoration: none;
}

.icon-1 {
  grid-area: icon-1;
  text-align: right;
  padding-right: 1vw;
}

.card-2 {
  display: grid;
  border: 1px solid black;
  width: 25vw;
  grid-template-areas:
  "img-2 info-2"
  "link-2 icon-2";
  grid-area: card-2;
}

.c-2 {
  height: 6vw;
  width: 6vw;
  padding-top: 1vw;
  padding-left: 1vw;
}
.img-2 {
  grid-area: img-1;
  padding-right: 1vw;
}
.info-2 {
  grid-area:info-1;
  padding-right: 5vw;
}
.link-2 {
  grid-area: link-1;
  padding-bottom: 1vw;
  padding-left: 1vw;
}
.icon-2 {
  grid-area: icon-1;
  text-align: right;
  padding-right: 1vw;
}
.card-3 {
  display: grid;
  border: 1px solid black;
  width: 25vw;
  grid-template-areas:
  "img-3 info-3"
  "link-3 icon-3";
  grid-area:card-3; 
}
.c-3 {
    height: 8vw;
    width: 8vw;
  }
  .img-3 {
    grid-area: img-1;
    padding-right: 1vw;
  }
  .info-3 {
    grid-area:info-1;
    padding-right: 5vw;
  }
  .link-3 {
    grid-area: link-1;
    padding-bottom: 1vw;
    padding-left: 1vw;
  }
  
  .icon-3 {
    grid-area: icon-1;
    text-align: right;
    padding-right: 1vw;
  }





